<%- include("partials/header") -%>

<div class="container-post">
<div class="container-post panel panel-default ">
  <div class="panel-heading"><h2>Home</h2>
    </div>
  <div class="panel-body">
    <p><%= homeStartingContent %>
    </p>
    </div>
</div>
</div>


<% posts.forEach(post => { %>
<div class="container-post ">
<div class=" panel panel-default">
  <div class="panel-heading"><h2><%= post.title.substring(0,100) + " ..." %></h2>
    </div>
  <div class="panel-body">
    <p><%= post.content.substring(0,100) + " ..." %>
    <a href="/posts/<%= post.title %>">Read More</a></p>
    </div>
</div>
</div>
  <% }); %>

<%- include("partials/footer") -%>